[Unit]
Description=EspoCRM WebSocket Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitIntervalSec=0
User=<DOCKER_USER>
ExecStart=/usr/bin/docker exec --user www-data -i <ESPOCRM_CONTAINER_NAME> /bin/bash -c "php /var/www/html/websocket.php"
StandardError=/<PATH_TO_LOGS>/espocrm-websocket.log

[Install]
WantedBy=default.target
